<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="br.com.vitorsalgado.example"
  android:installLocation="auto">

  <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
  <uses-permission android:name="android.permission.SET_ANIMATION_SCALE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

  <application
    android:name=".InstrumentedApp"
    android:allowBackup="false"
    tools:ignore="GoogleAppIndexingWarning"
    tools:replace="android:name,android:allowBackup" />
</manifest>
