<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="com.example">

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />

	<uses-permission
		android:name="android.permission.MANAGE_ACCOUNTS"
		android:maxSdkVersion="22" />
	<uses-permission
		android:name="android.permission.GET_ACCOUNTS"
		android:maxSdkVersion="22" />
	<uses-permission
		android:name="android.permission.AUTHENTICATE_ACCOUNTS"
		android:maxSdkVersion="22" />

	<application
		android:name=".App"
		android:allowBackup="false"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">

		<!-- Meta -->
		<!-- ##################################################################################  -->

		<meta-data
			android:name="io.fabric.ApiKey"
			android:value="d01d5909031246ac34bcd7283652fce59c445a0b" />

		<meta-data
			android:name="com.facebook.sdk.ApplicationId"
			android:value="@string/facebook_app_id" />

		<!-- Activities -->
		<!-- ##################################################################################  -->

		<!-- Main -->
		<activity
			android:name=".interactions.main.MainActivity"
			android:screenOrientation="portrait"
			android:theme="@style/AppTheme.Launcher">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<!-- About -->
		<activity
			android:name=".interactions.about.AboutActivity"
			android:label="@string/about"
			android:launchMode="singleTop"
			android:screenOrientation="portrait" />

		<!-- WebView -->
		<activity
			android:name=".interactions.WebViewActivity"
			android:launchMode="singleTop"
			android:screenOrientation="portrait" />

		<!-- Services -->
		<!-- ##################################################################################  -->

		<!-- Firebase -->
		<service
			android:name=".push.MessagingService"
			tools:ignore="ExportedService">
			<intent-filter>
				<action android:name="com.google.firebase.MESSAGING_EVENT" />
			</intent-filter>
		</service>
		<service
			android:name=".push.InstanceIdService"
			tools:ignore="ExportedService">
			<intent-filter>
				<action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
			</intent-filter>
		</service>

		<!-- Authenticator -->
		<service
			android:name=".authenticator.AccountAuthenticatorService"
			android:exported="false"
			android:process=":auth">
			<intent-filter>
				<action android:name="android.accounts.AccountAuthenticator" />
			</intent-filter>
			<meta-data
				android:name="android.accounts.AccountAuthenticator"
				android:resource="@xml/authenticator" />
		</service>
	</application>
</manifest>
